
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

     <!-- Favicon -->
     <link
     rel="shortcut icon"
     href="assets/images/favicon.ico"
     type="image/x-icon"
   />

   <!-- PoiretOne Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
     href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap"
     rel="stylesheet"
   />

   <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/order_form.css' %}" />

    
    <title>Заказ</title>
  </head>
  <body>
    <header>
    <div class="green-line"></div>
    <div class="header-content">
      <div class="logo">
        <div>
          <a href="index.html" class="logo-name">ПиццаТорг</a>
          <div class="logo-circle"></div>
        </div>
        <div class="logo-info">
          <p>8-999-571-88-86</p>
          <p>Пн—Вс 7:00—20:00</p>
        </div>
      </div>
      <nav class="header-menu">
        <ul>
          <li>
            <a class="category-link" href="category.html">Доставка и самовывоз </a>
          </li>
          <li>
            <a href="category.html" class="category-link"
              >Осетинские пироги
              <span
                ><img src="assets/images/index/arrow-down.png" alt=""
              /></span>
              <ul class="menu-item__extended">
                <li>
                  <a href="category.html">Пироги с мясом</a>
                </li>
                <li><a href="category.html">Пироги с картофелем</a></li>
                <li><a href="category.html">Пироги с сыром</a></li>
                <li><a href="category.html">Пироги с рыбой</a></li>
                <li><a href="category.html">Пироги с овощами</a></li>
                <li><a href="category.html">Пироги с курицей</a></li>
                <li><a href="category.html">Сладкие осетинские пироги</a></li>
              </ul>
            </a>
          </li>
          <li>
            <ul class="menu-item__extended">
              <li><a href="category.html">Классическая</a></li>
              <li><a href="category.html">Мясная</a></li>
              <li><a href="category.html">Вегетерианская</a></li>
              <li><a href="category.html">Острая пицца</a></li>
              <li><a href="category.html">С морепродуктами</a></li>
            </ul>
            <a class="category-link" href="category.html"
              >Пицца
              <span
                ><img src="assets/images/index/arrow-down.png" alt="arrow down"
              /></span>
            </a>
          </li>
          <button class="show-more__button">Ещё</button>
          <div class="show-more__menu">
            <li><a class="category-link" href="category.html">Соусы</a></li>
            <li><a class="category-link" href="category.html">Соленья</a></li>
            <li>
              <a class="category-link" href="category.html">Закуски</a>
            </li>
            <li>
              <a class="category-link" href="category.html">Горячие мясные блюда</a>
            </li>
          </div>
        </ul>
      </nav>
      <nav class="header-mobile-menu">
        <button>Меню</button>
        <ul class="header-mobile-menu__list">
          <li>
            <a class="mobile-menu-category-link" href="category.html"
              >Доставка и самовывоз
            </a>
          </li>
          <li>
            <p class="mobile-menu-category-link"
              >Осетинские пироги<span
                ><img src="assets/images/index/arrow-down.png" alt=""
              /></span>
              <div class="mobile-menu__extended">
                <ul>
                  <li><a href="category.html">Пироги с мясом</a></li>
                  <li><a href="category.html">Пироги с картофелем</a></li>
                  <li><a href="category.html">Пироги с сыром</a></li>
                  <li><a href="category.html">Пироги с рыбой</a></li>
                  <li><a href="category.html">Пироги с овощами</a></li>
                  <li><a href="category.html">Пироги с курицей</a></li>
                  <li><a href="category.html">Сладкие осетинские пироги</a></li>
                </ul>
              </div>
            </p>
            </li>
            <li>
            <p class="mobile-menu-category-link"
              >Пицца<span
                ><img src="assets/images/index/arrow-down.png" alt=""
              /></span>
              <div class="mobile-menu__extended">
                <ul>
                  <li><a href="category.html">Классическая</a></li>
                  <li><a href="category.html">Мясная</a></li>
                  <li><a href="category.html">Вегетерианская</a></li>
                  <li><a href="category.html">Острая пицца</a></li>
                  <li><a href="category.html">С морепродуктами</a></li>
                </ul>
              </div>
            </p>
          </li>
          <li>
            <a class="mobile-menu-category-link" href="category.html"
              >Соусы
            </a>
          </li>
          <li>
            <a class="mobile-menu-category-link" href="category.html"
              >Соленья
            </a>
          </li>
          <li>
            <a class="mobile-menu-category-link" href="category.html"
              >Закуски
            </a>
          </li>
          <li>
            <a class="mobile-menu-category-link" href="category.html"
              >Горячие мясные блюда
            </a>
          </li>
        </ul>
      </nav>
      <div class="right-menu">
        <div class="search">
          <input type="search" placeholder="Поиск товара" />
          <div class="search-button">
            <img src="assets/images/search-button.png" alt="search button" />
          </div>
        </div>
        <div class="cart">
          <a href="cart.html" class="cart-icon">
            <img src="assets/images/cart.png" alt="" />
          </a>
          <a href="cart.html">0₽</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <p class="title">Заказ</p>
    <div class="order-content">
      <form action="" class="order__form">
        <input type="text" name="" placeholder="Имя">
        <input type="tel" name="" placeholder="Телефон">
        <p>Улица, дом, квартира</p>
        <input type="text" name="" placeholder="Адрес">
        <textarea placeholder="Комментарий к заказу"></textarea>
      </form>
    </div>
    <div class="order-detail">
      <p class="title">Детали заказа</p>
        <table>
          <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Итого</th>
          </tr> 
          <tr> 
            <td>Осетинский пирог с капустой, луком и грецким орехом.</td> 
            <td>959₽ x  <span>1</span></td> 
            <td><span>₽</span></td> 
          </tr> 
          <tr> 
            <td>Осетинский пирог с капустой, луком и грецким орехом.</td> 
            <td>959₽ x  <span>13</span></td> 
            <td><span>₽</span></td> 
          </tr> 
        </table>
        <hr>
        <div class="order-result">
          <p>Подытог: <span class="summary"></span>₽</p>
          <p>Скидка: -<span class="discount">0</span>₽</p>
          <p>Доставка: <span class="delivery">0</span>₽</p>
          <p>Итого: <span class="result">0</span>₽</p>
          <button>Заказать</button>
        </div>
    </div>
  </div>
</body>
<script src="{% static 'core/js/scrollToTop.js' %}"></script>
  <script src="{% static 'core/js/header.js' %}"></script>
<script src="{% static 'core/js/order/orderResult.js' %}"></script>
<script src="{% static 'core/js/order/calculateItemsSum.js' %}"></script>
<script src="{% static 'core/js/order/formInputValidation.js' %}"></script>
</html>
