.title {
  font-size: 32px;
}

.cart-content {
  margin-top: 20px;
  padding-left: 10px;
}

.cart-item {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}

.item-img img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.item-title {
  font-size: 26px;
  display: flex;
  column-gap: 20px;
}

.delete-product-button {
  cursor: pointer;
}

.item-count {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 24px;
}

.item-count input {
  font-size: 24px;
  width: 50px;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
}

.item-count input::-webkit-inner-spin-button {
  display: none;
}

.item-price {
  font-size: 24px;
}

.total-sum {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: end;
  row-gap: 20px;
  font-size: 24px;
}

.total-sum button {
  position: relative;
  font-size: 22px;
  border-radius: 20px;
  background: transparent;
  padding: 2px 10px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s ease box-shadow, 0.3s ease transform;
}

.total-sum button:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 0 4px #d3ffb8;
}

.total-sum button::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  top: 100%;
  left: 0;
  background-color: #d3ffb8;
  z-index: -1;
  transition: 0.3s ease top, 0.3s ease border-radius;
}

.total-sum button:hover::before {
  top: 0;
  border-radius: 0;
}

@media (max-width: 1300px) {
  .container {
    padding: 40px 120px 0 120px;
  }
}

@media (max-width: 1065px) {
  .container {
    padding: 40px 60px 0 60px;
  }
}

@media (max-width: 945px) {
  .container {
    padding: 40px 30px 0 30px;
  }
}

@media (max-width: 885px) {
  .item-title,
  .item-price,
  .item-count input {
    font-size: 20px;
  }
}

@media (max-width: 736px) {
  .item-title {
    width: 400px;
    column-gap: 5px;
  }
}

@media (max-width: 620px) {
  .item-title {
    width: 300px;
    font-size: 18px;
  }
}

@media (max-width: 520px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .item-count {
    justify-content: center;
  }
}

@media (max-width: 376px) {
  .item-title {
    flex-direction: column;
  }

  .scroll-to-top-button {
    right: 5px;
    width: 30px;
    height: 30px;
  }

  .scroll-to-top-button img {
    width: 10px;
    height: 10px;
  }
}
