.promotion-banner {
  .banner-bg {
    position: absolute;
    background-image: url('assets/images/index/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  .banner-slider {
    overflow: hidden;
    width: 750px;
    margin: 0 auto;
    .banner-slider__line {
      display: flex;
      height: 90svh;
      align-items: center;
      border-radius: 100%;
      transition: 0.3s ease margin-left;
      .banner-slider__item {
        color: white;
        text-align: center;
        font-size: 74px;
        h3 {
          font-weight: normal;
          width: 750px;
        }
      }
    }
  }
  .button-arrow__left {
    position: absolute;
    top: 50%;
    left: 10%;
    cursor: pointer;
  }
  .button-arrow__right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.category-container {
  padding: 40px 0 0 0;
  .category {
    margin-top: 38px;
    .category-title {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      height: 100px;
      background: rgb(186, 187, 223);
      background: -moz-linear-gradient(
        180deg,
        rgba(186, 187, 223, 1) 0%,
        rgba(235, 235, 235, 1) 60%
      );
      background: -webkit-linear-gradient(
        180deg,
        rgba(186, 187, 223, 1) 0%,
        rgba(235, 235, 235, 1) 60%
      );
      background: linear-gradient(
        180deg,
        rgba(186, 187, 223, 1) 0%,
        rgba(235, 235, 235, 1) 60%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c1f6a2",endColorstr="#ebebeb",GradientType=1);
      h2 {
        font-size: 64px;
        text-align: center;
        font-weight: normal;
      }
    }
    .subcategory-title {
      h3 {
        font-size: 64px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin-top: 20px;
        font-weight: normal;
      }
      .category-line {
        width: 100px;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        margin-top: 10px;
      }
    }
    .category-content {
      margin-top: 50px;
      padding: 0 120px 0 120px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px 15px;
      .product {
        width: 345px;
        img {
          width: 345px;
          height: 345px;
          border-radius: 10px;
        }
        .product-name {
          margin-top: 10px;
          a {
            font-size: 24px;
            color: black;
          }
        }
        .product-price {
          margin-top: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-size: 24px;
          }
          button {
            font-size: 22px;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
            transition: 0.3s ease background-color;
            &:hover {
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .category {
    margin-top: 28px !important;
  }
}

@media (max-width: 1015px) {
  .banner-slider {
    width: 500px !important;
    .banner-slider__item {
      width: 500px;
      p {
        width: 500px !important;
        font-size: 48px;
      }
    }
  }
}

@media (max-width: 670px) {
  .banner-slider {
    width: 400px !important;
    .banner-slider__item {
      width: 400px;
      p {
        width: 400px !important;
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 600px) {
  .button-arrow__left {
    left: 3% !important;
  }
  .button-arrow__right {
    right: 3% !important;
  }
  .subcategory-title {
    p {
      font-size: 36px !important;
      margin-top: 0 !important;
    }
  }
  .category-title {
    p {
      font-size: 48px !important;
    }
  }
}

@media (max-width: 500px) {
  .banner-slider {
    width: 320px !important;
    .banner-slider__item {
      width: 320px;
      p {
        width: 320px !important;
        font-size: 34px;
      }
    }
  }
}

@media (max-width: 426px) {
  .product img {
    width: 300px !important;
    height: 300px !important;
  }
  .banner-slider {
    width: 270px !important;
    .banner-slider__item {
      width: 270px;
      p {
        width: 270px !important;
      }
    }
  }
  .button-arrow__left {
    img {
      width: 15px;
    }
  }
  .button-arrow__right {
    img {
      width: 15px;
    }
  }
  .category-title {
    p {
      font-size: 36px !important;
    }
  }
}
